asgiref==3.2.10
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
coverage==4.5.4
curl==0.0.1
defusedxml==0.6.0
Django==3.1
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.9.2
django-debug-toolbar==1.10.1
django-filter==2.3.0
djangorestframework==3.11.1
docker==4.2.1
Flask==1.1.1
graphviz==0.13.2
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.0.0
numpy==1.17.4
oauthlib==3.0.1
packaging==19.2
pascal==0.0.1.dev1
pep8==1.7.1
Pillow==6.2.2
pluggy==0.13.1
psycopg2-binary==2.8.4
PuLP==2.0
py==1.8.0
pycodestyle==2.5.0
pylint==2.4.4
PyMySQL==0.9.3
pyparsing==2.4.5
pypiwin32==223
pytest==5.3.3
pytest-cov==2.8.1
python-coveralls==2.9.3
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.5
pywin32==228
PyYAML==5.1.2
requests==2.21.0
requests-oauthlib==1.2.0
selenium==3.141.0
six==1.13.0
SQLAlchemy==1.3.16
sqlparse==0.2.4
stripe==2.27.0
urllib3==1.24.2
virtualenv==16.7.8
wcwidth==0.1.7
websocket-client==0.57.0
Werkzeug==1.0.0
wget==3.2
wrapt==1.11.2
